.letter {
  background: url('https://gcdnb.pbrd.co/images/1259HZc5czMk.png?o=1') no-repeat center;
  background-size: 100% 100%;
  padding: 40px 20px; /* Настрой отступы, чтобы текст не налезал на рисунки */
  width: 90%;
  height: 95%;
}
.boxes-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.gift-img {
  width: 100px; /* Размер как на твоем дизайне */
  cursor: pointer;
  transition: transform 0.3s;
}
.gift-img:hover {
  transform: scale(1.1);
}
/* Задняя часть открытого конверта */
.envelope-wrapper {
  background: url('https://gcdnb.pbrd.co/images/Bgbqrsgo0ctt.png?o=1') no-repeat center;
  background-size: contain;
}

/* Если крышка анимирована, замени её цвет или фон на сиреневый как на макете */
.flap {
  background-color: #c09cc4; /* Цвет из твоего дизайна 4.png */
}
/* Анимация перелива цветов */
@keyframes colorShift {
  0% { filter: hue-rotate(0deg) drop-shadow(0 0 5px rgba(240, 53, 224, 0.4)); }
  50% { filter: hue-rotate(20deg) drop-shadow(0 0 15px rgba(0, 210, 255, 0.6)); }
  100% { filter: hue-rotate(0deg) drop-shadow(0 0 5px rgba(240, 53, 224, 0.4)); }
}

.box-btn img {
  width: 100px;
  height: auto;
  transition: transform 0.2s;
  /* Применяем анимацию перелива к картинкам */
  animation: colorShift 3s infinite ease-in-out;
}

.box-btn:hover img {
  transform: scale(1.1);
}

